.contact{
	position: relative;
	padding: 50px 0;
	@include media-breakpoint-up(md) {
		padding:  80px 0 100px;
	}
	@include media-breakpoint-up(lg) {
		padding:  106px 0 140px;
	}
	h2 {
		text-align: center;
	}
	.right-decore {
		bottom: 55%;
		&.left-align {
			right: auto;
			left: 0;
			bottom: 30%;
			transform: rotate(-26deg) scale(-1, 1) translateX(32%);
			@include media-breakpoint-up(lg) {
				width: 680px;
			}
		}
	}
	.grey-circle {
		z-index: -1;
		top: 17%;
		left: 84%;
		@include media-breakpoint-up(lg) {
			left: 79%;
		}
	}
	.red-circle {
		left: 0;
		top: 36%;
		transform: translateX(-67%) scale(0.7);
		@include media-breakpoint-up(lg) {
			transform: translateX(-67%) scale(1);
		}
		&.lg {
			left: auto;
			right: 0;
			top:49%;
			transform: translateX(56%) scale(0.7);
			@include media-breakpoint-up(lg) {
				transform: translateX(48%) scale(1);
			}
		}
	}
}
.contacts-form {
	max-width: 505px;
	margin: 0 auto;
	padding: 15px 0 0;
	@include media-breakpoint-up(md) {
		padding: 37px 0 0;
	}
	.form-group {
		margin: 0 0 11px;
	}
	.form-select,
	.form-control {
		box-shadow: 0px 40px 50px -32px rgba(255, 153, 153, 0.12);
		background-color: #fff;
		display: block;
		width: 100%;
		border-radius: 20px !important;
		padding: 0 30px 0 40px;
		height: 50px;
		border:none;
		margin: 0 !important;
		color: #505060;
		font-size: 1rem;
		font-family: $font-family-sans-serif;
		@include media-breakpoint-up(md) {
			height: 76px;
			padding: 0 54px;
		}
	}
	.form-select {
		background-position: right 0.7rem center;
		@include media-breakpoint-up(md) {
			background-position: right 1.5rem center;
		}
	}
	.input-group-text {
		position: absolute;
		z-index: 4;
		left:0;
		top: 15px;
		color: #505060;
		background:  none;
		border: none;
		padding: 0;
		width: 40px;
		font-size: 18px;
		opacity: 0.5;
		justify-content: center;
		text-align: center;
		@include media-breakpoint-up(md) {
			top: 28px;
			left: 9px;
			width: 50px;
		}
	}
	.icon-company {
		background: url(../images/icon-company.svg) 50% 50% no-repeat;
		background-size: contain;
		&:before {
			opacity: 0;
		}
	}
	.form-control-textarea {
		height: 146px;
		resize: none;
		min-height: 161px;
		padding: 13px 40px;
		@include media-breakpoint-up(md) {
			padding: 23px 54px;
		}
	}
	.icon-navigation-more {
		background: #292928;
		color: #fff;
		border-radius: 5px;
		font-size: 16px;
		width: 20px;
		line-height: 20px;
	}
	.cta-box-top-gutter {
		padding-top: 9px;
	}
}